{
	"HTMLRoot" : "html",
	"TemplateRoot" : "templates",
	"DefaultPage" : "index.html",
	"IP" : "",
	"Port" : 8080,
	"TimeFmt" : "2006 Jan 2 15:04:05",
	"ErrorFmt": "${level} ${time}:\t${msg}",
	"DatasourceFile" : "datasource.json"
}
