<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
	  <a href="\index.html"><img src="\static\media\logo.png" width="auto" height="50" alt="Bloom"> </a>  

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li><a href="#">About us</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Get started</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

		  </form>
			<li><a id ="navsearch" href="\search.html"> <span class="glyphicon glyphicon-search"  aria-hidden="true"></span> Search </a> </li> 
			<li><a id='navmail' href="\mail.html"> <span class="glyphicon glyphicon-envelope"  aria-hidden="true"></span> Mailbox </a> </li> 
			<li><a id="navprofile" href="\profile.html">guest</a></li>
			<li id="navdropdown" class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
			  <ul id="projects" class="dropdown-menu">
<!--
				<li><a href="\project.html">Project 1</a></li>
				<li><a href="\project.html">Project 2</a></li>
				<li><a href="\project.html">Project 3</a></li>
-->
				<li id="projectsSep" role="separator" class="divider"></li>
				<li id ="newProject"><a href="\newproject.html">New Project</a></li>
			  </ul>
			</li>
			
			<li class="imp"><a id="navRegister" href="\register.html">Create Account<span class="sr-only"></span></a></li>
			<li class="imp"><a id="navLogin" href="\login.html">Login<span class="sr-only"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
function fixNavbar() {
	if (localStorage["Authorization"]) {
		token = localStorage["Authorization"].split(" ")[1];
		user = atob(token).split(":")[0];
		registerEl = document.getElementById("navRegister");
		registerEl.parentElement.innerHTML = "";
		profileEl = document.getElementById("navprofile");
		profileEl.innerHTML = user;
		/*registerEl.parentElement.innerHTML = "<p>Hello " + user +
			 '</p><span class="sr-only"></span>';*/
		loginEl = document.getElementById("navLogin");
		loginEl.innerHTML = "Logout";
		loginEl.href = "/logout.html";
	} else {
		for (s of ["navprofile", "navsearch", "navmail", "navdropdown"]) {
			el = document.getElementById(s);
			el.parentNode.removeChild(el);
		}
		
	}
}

function queryProjects() {
	user = "guest"
	if(localStorage["Authorization"]) {
		token = localStorage["Authorization"].split(" ")[1];
		user = atob(token).split(":")[0]; 
	} else {
		return
	}

	var URL = "http://bloomgenetics.tech/api/v1/users/" + user + "/projects"
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = listProjects;
	xhttp.open("GET",URL,true);
	xhttp.setRequestHeader("Authorization",localStorage["Authorization"]);
	xhttp.send(null);
}

function listProjects() {
	if(this.readyState == 4 && this.status == 200) {
		listEl = document.getElementById("projects");
		sepEl = document.getElementById("projectsSep");
		newEl = document.getElementById("newProject");
		var obj = JSON.parse(this.responseText);
		if(obj.code == 0) {
			listEl.innerHTML = ""
			for(var i=0; i < obj.data.length; i++) {
					var p = obj.data[i]
					if (p.id == 0)
						continue;
					listEl.innerHTML += '<li><a href="/project.html?id=' +
						p.id + '">'+ p.name + "</a></li>";
			}
			listEl.innerHTML += sepEl.outerHTML
			listEl.innerHTML += newEl.outerHTML
		}
	}
}
fixNavbar()
queryProjects()
</script>

