  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="row header container" style="max-width: 750px;">Candidate: CANDIDATE ID <a>
        <span class="pull-right">
			
            <span class="glyphicon glyphicon-edit">
            </span>
			Edit
          </span></a></h2>
      <div class="contentbox">
        <div class="container-fluid">
          <!--Adds style color to "Player Profile"-->
          <br>

          <section class="row container-fluid">
            <!-- Fetches and displays the player profile image -->
            <p class="col-sm-6 col-md-4 col-lg-4"><img src="" width="200" height="200" alt="Candidate Picture."></p>

            <section class="col-sm-7">
              <b>Parent Cross</b> Link to parent cross <br>
              <b>Mother</b> Link to mother<br>
              <b>Father</b> Link to father <br>
              <b>Year Grown:</b> 2016<br>
              <b>Season Grown:</b> Summer <br>
            </section>

          </section>

          <section class="row-fluid">
            <h3><b>Traits</b></h3>
              <b>Parent Cross</b> Link to parent cross <br>
              <b>Mother</b> Link to mother<br>
              <b>Father</b> Link to father <br>
              <b>Year Grown:</b> 2016<br>
              <b>Season Grown:</b> Summer <br>

       
          </section>
          <section class="row-fluid">
            <h3><b>Projects:</b></h3>
	<div class="row">
	  <ul class="media-list" id="resultList">
		  <div class="media" id="result">
		<div style="margin: auto;">
			<div class="media-left well">
			  <a href="#" id="resultImgURL">
				<img class="media-object" src="..." alt="Generic placeholder image" id="resultImg">
			  </a>
			</div>
			<div class="media-body well">
			  <h4 class="media-heading" >Media heading</h4>
			  Location: <text ></text>
			  <br>
			  USER's role: <text ></text>
			  <p ></p>
			</div>
		</div>
		  </div>
	  </ul>
	</div>
            <p></p><br>

       
          </section>
        </div>
      </div>
  </div>
