  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="row header container" style="max-width: 750px;">Cross: CANDIDATE ID</h2>
      <div class="contentbox">
        <div class="container-fluid">
          <!--Adds style color to "User Profile"-->
          <br>

          <section class="row container-fluid">
            <!-- Fetches and displays the user profile image -->
            <div<p><h2>Parent 1</h2></p> class="col-sm-6 col-md-4 col-lg-4"><img src="" width="200" height="200" alt="Candidate Picture."></div>
			<div<p><h2>Parent 1</h2></p> class="col-sm-6 col-md-4 col-lg-4"><img src="" width="200" height="200" alt="Candidate Picture."></div>


          </section>
            <section class="col-sm-7">
              <b>Parent Cross</b> Link to parent cross <br>
              <b>Mother</b> Link to mother<br>
              <b>Father</b> Link to father <br>
              <b>Year Grown:</b> 2016<br>
              <b>Season Grown:</b> Summer <br>
            </section>
          <section class="row-fluid">
            <h3><b>Traits<a> <span class="glyphicon glyphicon-edit"></a>
            </span></b></h3>
              <b>Trait 1 - </b> <b>Dominant - </b> <b>Tt - </b> <b>Has</b><br> 
              <b>Trait 2 - </b> <b>Recessive - </b> <b>cc - </b> <b>Has</b><br>
              <b>Trait 3 - </b> <b>Recessive - </b> <b>B? - </b> <b>Potential Carrier - 66% chance</b><br>
              <b>Trait 4 - </b> <b>Dominant - </b> <b>gg - </b> <b>Doesn't Have</b><br>

       
          </section>
          <section class="row-fluid">
            <h3><b>Candidate Notes</b></h3>

            <p>This plant has grown exeptionally well. It is displaying a new unique feature of jagged leaves, I have added this trait to it's trait list. Though it doesn't have trait 4, it can be re-introduced if we choose the right plant to cross with. I feel this is a strong candidate for continuing on the project. </p><br>

       
          </section>
		  
          <section class="row-fluid">
            <h3>
				<b>
					Child Crosses
				</b>
			</h3>
              <b>Link to Child Cross 1</b><br>
              <b>Link to Child Cross 2</b><br>
              <b>Link to Child Cross 3</b><br>

       
          </section>
        </div>
      </div>
  </div>
