  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<h2 class="row header container" style="max-width: 750px;">Cross: CROSS ID <a data-toggle="modal" data-target="#editCrossModal">
		<span class="pull-right">
				<span class="glyphicon glyphicon-edit">
				</span>
			Edit
		</span></a>
	</h2>
      <div class="contentbox">
        <div class="container-fluid">
          <!--Adds style color to "User Profile"-->
          <br>
		  
          <section class="row container-fluid">
            <!-- Fetches and displays the user profile image -->
            <div 
				class="col-sm-6 col-md-6 col-lg-6" style ="float: center;"><p><h2>Parent 1</h2></p><img src="" width="200" height="200" alt="Cross Picture">
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6" style ="float: center;"><p><h2>Parent 2</h2></p><img src="" width="200" height="200" alt="Cross Picture"></div>
          </section>
		  
          <section class="row-fluid">
			<h2>Cross Name: BLA BLA BLA</h2>
          </section>
		  
          <section class="row-fluid">
            <h3><b>Trait Pool and Percentages</b></h3>
              <input type="checkbox" aria-label="..."><b>Trait 1 - </b> <b>Dominant - </b> <b>100% TT</b><br> 
              <input type="checkbox" aria-label="..."><b>Trait 2 - </b> <b>Recessive - </b> <b>25% bb, 50%Bb, 25%BB</b><br>
              <input type="checkbox" aria-label="..."><b>Trait 3 - </b> <b>Recessive - </b> <b>100% tt</b><br>
              <input type="checkbox" aria-label="..."><b>Trait 4 - </b> <b>Dominant - </b> <b>gg - </b> <b>Doesn't Have</b><br>
			  <b>How many to plant to get desired traits: calculate here based on checked boxes </b>
          </section>
		  

          <section class="row-fluid">
            <h3><b>Cross Notes</b></h3>
            <p>bla bla bla bla bla </p><br>
          </section>
		  
          <section class="row-fluid">
			<span><h3><b>Child Candidates <a class="glyphicon glyphicon-plus"></a> </b></h3></span>
              <b>Link to Child Candidate 1</b><br>
              <b>Link to Child Candidate 2</b><br>
              <b>Link to Child Candidate 3</b><br>
          </section>
		  
          <section class="row-fluid">
            <h3>
				<b>
					TreeView
				</b>
			</h3>
              <canvas id="myCanvas" width="500" height="600"></canvas>

       
          </section>
        </div>
      </div>
	  
	  
	  
	  
	<!-- edit page pop up content start-->
	<div id="editCrossModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
					  
						<div class="form-group">
							<label for="crossname">Cross Name</label>
							<input type="text" class="form-control" id="crossname" placeholder="Give your cross a custom name!">
						</div>
					  
						<div class="form-group">
							<label for="notes">Cross Notes</label>
							<input type="text" class="form-control" id="notes" placeholder="Write notes about your cross!">
						</div>
						
						<button onclick="UpdateCross()" class="btn btn-default">Update</button>
			
					</div>
				  </div>


		</div>
	</div>
	<!-- edit page pop up content stop-->
	  
	  
	  
	  
  </div>
