  <div class="container" style="max-width: 750px;">
	<!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<h2 id="idHeader" class="row header container" style="max-width: 750px;">Cross: CROSS ID <a id="editButton" data-toggle="modal" data-target="#editCrossModal">
		<span class="pull-right">
				<span class="glyphicon glyphicon-edit">
				</span>
			Edit
		</span></a>
	</h2>
	  <div class="contentbox">
		<div class="container-fluid">
		  <!--Adds style color to "User Profile"-->
		  <br>
		  
		  <section class="row container-fluid">
			<!-- Fetches and displays the user profile image -->
			<div class="col-sm-6 col-md-6 col-lg-6" style ="float: center;" id="parent1"><p><h2>Parent 1</h2></p><img id="p1image" src="" width="200" height="200" alt="Parent Picture"></div>
			<div class="col-sm-6 col-md-6 col-lg-6" style ="float: center;" id="parent2"><p><h2>Parent 2</h2></p><img id="p2image" src="" width="200" height="200" alt="Parent Picture"></div>
		  </section>
		  
		  <section class="row-fluid">
			<h2 id="nameHeader" >Cross Name: BLA BLA BLA</h2>
		  </section>
		  
		  <section class="row-fluid">
			<h3><b>Trait Pool and Percentages</b></h3>
			  <input type="checkbox" aria-label="..."><b>Trait 1 - </b> <b>Dominant - </b> <b>100% TT</b><br> 
			  <input type="checkbox" aria-label="..."><b>Trait 2 - </b> <b>Recessive - </b> <b>25% bb, 50%Bb, 25%BB</b><br>
			  <input type="checkbox" aria-label="..."><b>Trait 3 - </b> <b>Recessive - </b> <b>100% tt</b><br>
			  <input type="checkbox" aria-label="..."><b>Trait 4 - </b> <b>Dominant - </b> <b>gg - </b> <b>Doesn't Have</b><br>
			  <b>How many to plant to get desired traits: calculate here based on checked boxes </b>
		  </section>
		  

		  <section class="row-fluid">
			<h3><b>Cross Notes</b></h3>
			<p id="crossNote">bla bla bla bla bla </p><br>
		  </section>
		  
		  <section class="row-fluid">
			<h3><b><div style="max-width: 230px;">Child Candidates<a class="glyphicon glyphicon-plus pull-right" href="newcandidate.html"></a></div></b></h3>
			  <b>Link to Child Candidate 1</b><br>
			  <b>Link to Child Candidate 2</b><br>
			  <b>Link to Child Candidate 3</b><br>
		  </section>
		  
		  <section class="row-fluid">
			<h3>
				<b>
					TreeView
				</b>
			</h3>
			  <canvas id="tree" width="500" height="600"></canvas>

	   
		  </section>
		</div>
	  </div>
	  
	  
	  
	  
	<!-- edit page pop up content start-->
	<div id="editCrossModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
					  
						<div class="form-group">
							<label for="crossname">Cross Name</label>
							<input type="text" class="form-control" id="submitCrossname" placeholder="Give your cross a custom name!">
						</div>
					  
						<div class="form-group">
							<label for="notes">Cross Notes</label>
							<input type="text" class="form-control" id="submitNotes" placeholder="Write notes about your cross!">
						</div>
						
						<button onclick="UpdateCross()" class="btn btn-default">Update</button>
			
					</div>
				  </div>


		</div>
	</div>
	<!-- edit page pop up content stop-->
  </div>
<script>
var pid = getParameterByName("pid");
var cid = getParameterByName("id");
var crossProfile
var editButton = document.getElementById("editButton");
var idHeader = document.getElementById("idHeader")
idHeader.innerHTML = "Cross"

function getParameterByName(name, url) {
	if (!url) {
	  url = window.location.href;
	}
	name = name.replace(/[\[\]]/g, "\\$&");
	var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		results = regex.exec(url);
	if (!results) return null;
	if (!results[2]) return '';
	return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function UpdateCross() {
	var name = document.getElementById("submitCrossname");
	var note = document.getElementById("submitNotes");
	var url = "http://bloomgenetics.tech/api/v1/projects/" + pid + "/crosses/" + cid; 
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
	}
	xhttp.open("PUT", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"])
	xhttp.setRequestHeader("Content-type", "application/json");
	crossProfile.description = note;
	crossProfile.name = name;
	xhttp.send(JSON.stringify(crossProfile));
}

function updateCrossInfo() {
	if(this.readyState == 4 && this.status == 200) {
		var out = JSON.parse(this.responseText)
		if(out.code == 400)
			errorField.innerHTML = "Unable to view cross: Access Denied"
		else if (out.code != 0)
			errorField.innerHTML = out.status
		else {
			var d = out.data
			crossProfile = d
			idHeader.innerHTML = "Cross: " + d.id
			document.getElementById("nameHeader").innerHTML = "Cross Name: " + d.name
			document.getElementById("crossNote").innerHTML = d.description
			if(d.parent1 == 0)
				document.getElementById("parent1").outerHTML = ""
			else
				document.getElementById("p1image").href = "/candidate.html?pid="+pid+"&cid="+cid+"&id="+d.parent1	
			if(d.parent2 == 0)
				document.getElementById("parent2").outerHTML = ""
			else
				document.getElementById("p2image").href = "/candidate.html?pid="+pid+"&cid="+cid+"&id="+d.parent2

		}
	}
}

function getCrossInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/" + pid + "/crosses/" + cid;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateCrossInfo;
	xhttp.open("GET", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"])
	xhttp.send(null)
}

getCrossInfo();
</script>
<script>
function getData() {
	if(this.readyState == 4 && this.status == 200) {
		errdiv = document.getElementById("error");	
		var resp = JSON.parse(this.responseText)
		if (resp.code != 0) {
			errdiv.innerHTML = "Unable to load treeview for Project " +
				pid + " because:<br> " +
				resp.status;
		}
		if (resp.data == null)
			return
		var roots = [resp.data];
		if (resp.data && resp.data.parents ) {
			roots = resp.data.parents
			for (r of roots) {
				r.children = [resp.data]
			}
		}
		for (r of roots) {
			trees[trees.length] = new Tree(r);
		}
		draw();
	}
}

var trees = [];
var nodes = [];
var canvas = null;
var ctx = null;
var camera_pos = {x:300,y:300}
function Tree(r, l = 0) {
	this.el = {
		pos: {x: 0, y: 0},
		id: r.data.id,
		r: 15,
		project: r.data.projectId,
		name: r.data.name,
		children: [],
		layer: l
	};
	nodes[nodes.length] = this.el
	this.el.onclick = clickNode
	this.drawNode = drawNode
	if (!r.children) 
		return;
	for( c of r.children) {
		this.el.children[this.el.children.length] = new Tree(c,l+1);
	}
}

function clickNode() {
	window.location = "/cross.html?id=" + this.id + "&pid=" + pid
}


function drawNode(pos) {
	ctx.beginPath();
	this.el.pos.x = pos.x;
	this.el.pos.y = pos.y;
	ctx.lineWidth=3;
	ctx.arc(this.el.pos.x, this.el.pos.y, this.el.r, 0,  2 * Math.PI);
	ctx.stroke();
	ctx.lineWidth=1;
	ctx.strokeText(this.el.id,pos.x - 4,pos.y+4)
	if (!this.el.children)
		return;
	var offset = { x: pos.x, y: pos.y }
	offset.x -= (this.el.children.length * 15);
	offset.y = pos.y - 50;
	for (c of this.el.children) {
		c.drawNode(offset);
		ctx.moveTo(this.el.pos.x,this.el.pos.y - this.el.r);
		ctx.lineWidth=1;
		ctx.lineTo(offset.x,offset.y + this.el.r);
		ctx.stroke();
		offset.x += 60;
	}
}

prevMouse = {x:0,y:0}
var clicked = false
var dragged = false
function mouseDrag(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	if (clicked) {
		dragged = true;
		delta = {
			x: mousePos.x - prevMouse.x,
			y: mousePos.y - prevMouse.y
		}
		camera_pos.x += delta.x * 0.7
		camera_pos.y += delta.y * 0.7
		ctx.clearRect(0,0,canvas.width,canvas.height);
		draw();
	}
	prevMouse.x = mousePos.x
	prevMouse.y = mousePos.y
	
}

function mouseClick(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	var clickPos = {
		x: mousePos.x,// - camera_pos.x,
		y: mousePos.y// - camera_pos.y
	}
	for(var i = 0; i < nodes.length; i++) {
		var node = nodes[i]
		var xSq = (clickPos.x - node.pos.x)
		xSq *= xSq
		var ySq = (clickPos.y - node.pos.y)
		ySq *= ySq
		if(xSq + ySq < node.r * node.r)
			node.onclick()
		
	}
}


function begin() {
	canvas = document.getElementById("tree");	
	canvas.addEventListener('mousemove', mouseDrag, false);
	canvas.addEventListener('mousedown', function(e) {clicked = true;dragged=false;}, false);
	canvas.addEventListener('mouseup', function(e) {
			clicked = false;
			if (!dragged)
				mouseClick(e)
			dragged=false;
		}, false);
	ctx = canvas.getContext("2d");
	var URL = "http://bloomgenetics.tech/api/v1";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = getData;
	xhttp.open("GET", URL + "/projects/" + pid + "/treview/" + cid, true);
	if (localStorage.getItem("Authorization")) {
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	}
	xhttp.send(null);
}

function draw() {
	if (trees.length == 0)
		return
	offset = {
		x: camera_pos.x,
		y: camera_pos.y
		}
	for (r of trees) {
		r.drawNode(offset)
		offset.x += 100
	}
}
window.onload = begin
</script>
