<script>
<!-- This script is a direct compy of the createuser JS. This needs to be updated to work. Rename the CreateUser() function to UpdateUser()  --!>
function CreateUser(){
	var url = "http://bloomgenetics.tech/api/v1/users";
	var xhttp = new XMLHttpRequest()
	if (document.getElementById("password").value == document.getElementById("confirmpassword").value){
		var data = "username=" + document.getElementById("username").value +
				"&email=" + document.getElementById("email").value +
				"&password=" + document.getElementById("password").value +
				"&location=" + document.getElementById("address").value +
				"&growzone=" + document.getElementById("gzone").value +
				"&season=" + document.getElementById("seasons").value +
				"&specialty=" + document.getElementById("specialty").value;
		xhttp.onreadystatechange = getData;
		xhttp.open("POST", url, true);
		xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp.send(data);
	}
}
function getData(){
	if(this.readyState == 4 && this.status == 200) {
		var out = document.getElementById("result");
		var resp = JSON.parse(this.responseText);
		if(resp.code == 0) {
			window.location="/index.html"
		} else {
			out.innerHTML = resp.status;
		}
	}
}
</script>

<!-- This html should be good -->
  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="row header container" style="max-width: 750px;">Edit USER's Profile </h2>
      <div class="contentbox">
        <div class="container-fluid">
		  <div id="result"></div>
			<div class="form-group">
			  <label for="specialty">Specialty:</label>
			  <input type="text" class="form-control" id="specialty" placeholder="Specialty">
			</div>
			<div class="form-group">
				<label for="gzone"><div style="max-width: 100px;">Growzone:<a target="_blank" href="http://garden.org/nga/zipzone/" class="glyphicon glyphicon-search pull-right"></a></div></label>
				<select id="gzone" class="form-control">
					<option value="1" selected>1</option>
					<option value="2a">2a</option>
					<option value="2b">2b</option>
					<option value="3a">3a</option>
					<option value="3b">3b</option>
					<option value="4a">4a</option>
					<option value="4b">4b</option>
					<option value="5a">5a</option>
					<option value="5b">5b</option>
					<option value="6a">6a</option>
					<option value="6b">6b</option>
					<option value="7a">7a</option>
					<option value="7b">7b</option>
					<option value="8a">8a</option>
					<option value="8b">8b</option>
					<option value="9a">9a</option>
					<option value="9b">9b</option>
					<option value="10a">10a</option>
					<option value="10b">10b</option>
					<option value="11">11</option>
					
				</select>
			</div>
			<div class="form-group">
			  <label for="seasons">Seasons:</label>
			  <input type="text" class="form-control" id="seasons" placeholder="Seasons">
			</div>
			<div class="form-group">
			  <label for="address">Address:</label>
			  <input type="text" class="form-control" id="address" placeholder="Address">
			</div>
			<div class="form-group">
			  <label for="email">Email:</label>
			  <input type="email" class="form-control" id="email" placeholder="Enter email">
			</div>
			<div class="form-group">
			  <label for="description">About me:</label>
			  <input type="text" class="form-control" id="description" placeholder="Tell everyone about yourself!">
			</div>

			<button onclick="UpdateUser()" class="btn btn-shutterOut">Update</button>
			
			<a href="profile.html" class="btn btn-shutterOut">Return to Profile Page</a>
        </div>
      </div>
  </div>