<div class="wideBackground">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
      <div class="col-sm-12 col-md-10 col-lg-8" style="float: none; margin: 0 auto;" >
        <div class="jumbotron">
          <p class="col-sm-12 col-md-12 col-lg-12"><img class = "logo" src="\media\flower.png" width="275" height="250" alt="Logo"></p>
          <h1 align="center">Welcome!</h1>
          <p align="center">...to Bloom. If you're new, try our <a href="#">About</a> page. Otherwise, you can check out <a href="#">Registration</a> or search our <a href="#">Project Profiles</a>. If you have any questions, please consult our <a href="#">FAQ</a> first.</p>
        </div>

      </div>
    </div>
  </div>
</div>
