<link rel="prefetch" href="/static/media/tile2.jpg">
<div class="wideBackground">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
      <div class="col-sm-12 col-md-10 col-lg-8" style="float: none; margin: 0 auto;" >
        <div class="jumbotron">
          <p class="col-sm-12 col-md-12 col-lg-12"><img class = "logo" src="\static\media\flower.png" width="275" height="250" alt="Logo"></p>
          <h2 align="center">Unifying People, Simplifying Genetics</h2>
         <!--   <p align="center">If you're new, try our <a href="about.html">About</a> page. Otherwise, you can <a href="register.html">Register</a> or search through our <a href="search.html">Users and Projects</a>. If you have any questions, please consult our <a href="faq.html">FAQ</a> first.</p> -->
        <p align="center"> Welcome to the world of Bloom. We are the leading pioneer in colaborative breeding and trait tracking. If you're new, we welcome you to <a href="register.html">Register</a> and start exploring.
		</div>

      </div>
    </div>
  </div>
</div>
