	<script>
function messageServer() {
	var URL = "http://bloomgenetics.tech/api/v1/auth";
	var USERNAME = document.getElementById("username").value;
	var PASSWORD = document.getElementById("password").value;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = getData;
	xhttp.open("POST",URL, true);
	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var DATA = "user="+USERNAME+"&password="+PASSWORD
	xhttp.send(DATA);
}

function getData() {
	if(this.readyState == 4 && this.status == 200) {
		var out = document.getElementById("error");
		var obj = JSON.parse(this.responseText);
		out.innerHTML =  obj.status;
		if (obj.code == 0) {
		//do a redirect
			localStorage.setItem("auth","Basic " + btoa(obj.data.id + ":" + obj.data.token));
			window.location = "http://bloomgenetics.tech/index.html";
		}
	}
}
	</script>

<div class="container">
<div id="error"></div>
  <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button onclick="messageServer()" class="btn btn-default">Submit</button>
</div>