<style>
table, th, td {
    border: 1px solid black;
}</style>

<div class="container" style="max-width: 750px;">
	  <h2 class="header contentbox-header" style="max-width: 750px;">Search</h2>
	  <div class="contentbox">
		<div class="container-fluid">		
			<div class="container-fluid">
					<table id="messageTable">
						<tr>
							<th>Sender</th>
							<th>Date</th>
							<th>Subject</th>
							<th>Message</th>
						</tr>
						<tr id="entry0">
							<td>Sender</td>
							<td>Date</td>
							<td>Subject</td>
							<td>Message</td>
						</tr>
					</table>
		</div>
	  </div>  
	  
	  
	<!-- <div id="newTraitModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		Modal content

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<div class="form-group">
							<label for="traitname">Trait Name</label>
							<input type="text" class="form-control" id="traitname" placeholder="Name the trait you want to breed for">
						</div>
						<div class="form-group">
						<label class="radio-inline"><input type="radio" name="optradio" value='2'>Dominant</label>
						<label class="radio-inline"><input type="radio" name="optradio" value='1'>Recessive</label>
						<label class="radio-inline"><input type="radio" name="optradio" value='3'>Unknown</label>
						</div>
						<div class="form-group">
							<label for="pool">Pool</label>
							<input type="number" class="form-control" id="pool" placeholder="1">
						</div>	
						<button onclick="AddTrait()" class="btn btn-shutterOut">Add Trait</button>
			
					</div>
				  </div>


		</div>
	</div>-->
</div>
  
  <script>
	var searchEntry = document.getElementById("entry0");
	searchEntry = searchEntry.cloneNode(true); //copies entry
	document.getElementById("entry0").outerHTML = ""; //deletes entry
	
	function FillTable(){
		//listClear()
			GetMail();
	}
	
	function GetMail(){
		token = localStorage["Authorization"].split(" ")[1];
		user = atob(token).split(":")[0];
		var url = "http://bloomgenetics.tech/api/v1/users/"+user+"/mail";
		var data = "?uid="+user;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = getData;
		xhttp.open("GET", url + data, true);
		if (localStorage["Authorization"])
			xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
		xhttp.send(null);
	}
	
	function getData() {
		if(this.readyState == 4 && this.status == 200) {
			mailResults(this.responseText);
		}
	}
	
	function mailResults(data){
		var t1 = JSON.parse(data)
		for (var i = 0; i < t1.data.length; i++){
			var e = t1.data[i];
			var entry = searchEntry.cloneNode(true);
			
			if (typeof e.public === "undefined") {
				entry.children[0].innerHTML=e.src;
				entry.children[1].innerHTML=e.date;
				entry.children[2].innerHTML=
				e.subject+"<a style=\"margin-left: 10px;\" data-toggle=\"modal\" data-target=\"#newTraitModal\" class=\"glyphicon glyphicon-edit pull-right\">"+
				"Text"+"</a>";
				entry.children[3].id="microsecond-id"
				entry.children[3].innerHTML=e.message;
			}
			add(entry);
		}
	
	
		var testIfExist = document.getElementById("entry0")
		if (!testIfExist){
			var div = document.createElement('div');
			div.innerHTML = '<text>There were no results</text>';
			add(div);
		}
	}
	function listClear() {
		var list = document.getElementById("resultList")
		while (list.firstChild) {
 		   list.removeChild(list.firstChild);
		}
	}
	function add(result) {
		var list = document.getElementById("messageTable");
		list.appendChild(result);
	}
	
	
	
  window.onload = FillTable();
  </script>
