<style>
}</style>

<div class="container" style="max-width: 750px;">
	  
	  <h2 class="header contentbox-header" style="max-width: 750px;">Messages</h2>
	  <div class="contentbox">
		<button data-toggle="modal" data-target="#messageModal" class="btn btn-shutterOut" name="submit">Create Message</button>
		
		<div class="container-fluid">		
			<div class="container-fluid">
				<table class="table-bordered" id="messageTable" width="100%">
					<tr>
						<th width="10%">Sender</th>
						<th width="15%">Date</th>
						<th width="20%">Subject</th>
						<th width="55%">Message</th>
					</tr>
					<tr id="entry0">
						<td>Sender</td>
						<td>Date</td>
						<td>Subject</td>
						<td>Message</td>
					</tr>
				</table>
		</div>
	  </div>  
	  
	  
	<div id="messageModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<div class="form-group">
							<label for="Recipient">To</label>
							<input id="Recipient" type="text" class="form-control" name="search" placeholder="Enter a User's ID">
						</div>
						<div class="form-group">
							<label for="Subject">Subject</label>
							<input id="Subject" type="text" class="form-control" name="search" placeholder="Short Description">
						</div>
						<div class="form-group">
							<label for="Message">Message</label>
							<input id="Message" type="text" class="form-control" name="search" placeholder="Message Body">
						</div>
						<button onclick="SendMail()" class="btn btn-shutterOut" name="submit" id="button-submit">Send Message</button>
			
					</div>
				  </div>


		</div>
	</div>
</div>
  
  <script>
	var searchEntry = document.getElementById("entry0");
	searchEntry = searchEntry.cloneNode(true); //copies entry
	document.getElementById("entry0").outerHTML = ""; //deletes entry
	
	function FillTable(){
		//listClear()
			GetMail();
	}
	
	function GetMail(){
		token = localStorage["Authorization"].split(" ")[1];
		user = atob(token).split(":")[0];
		var url = "http://bloomgenetics.tech/api/v1/users/"+user+"/mail";
		var data = "?uid="+user;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = getData;
		xhttp.open("GET", url + data, true);
		if (localStorage["Authorization"])
			xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
		xhttp.send(null);
	}
	
	function getData() {
		if(this.readyState == 4 && this.status == 200) {
			mailResults(this.responseText);
		}
	}
	
	function mailResults(data){
		var t1 = JSON.parse(data)
		for (var i = 0; i < t1.data.length; i++){
			var e = t1.data[i];
			var entry = searchEntry.cloneNode(true);
			
			if (typeof e.public === "undefined") {
				entry.children[0].innerHTML=e.src;
				entry.children[1].innerHTML=e.date;
				entry.children[2].innerHTML=e.subject;
				//e.subject+"<a style=\"margin-left: 10px;\" data-toggle=\"modal\" data-target=\"#newTraitModal\" class=\"glyphicon glyphicon-edit pull-right\">"+"Text"+"</a>";
				//entry.children[3].id="microsecond-id"
				entry.children[3].innerHTML=e.message;
			}
			add(entry);
		}
	
	
		var testIfExist = document.getElementById("entry0")
		if (!testIfExist){
			var div = document.createElement('div');
			div.innerHTML = '<text>There were no results</text>';
			add(div);
		}
	}
	function listClear() {
		var list = document.getElementById("resultList")
		while (list.firstChild) {
 		   list.removeChild(list.firstChild);
		}
	}
	function add(result) {
		var list = document.getElementById("messageTable");
		list.appendChild(result);
	}
	function SendMail(){
		token = localStorage["Authorization"].split(" ")[1];
		user = atob(token).split(":")[0];
		var recipientUID = document.getElementById("Recipient");
		var url = "http://bloomgenetics.tech/api/v1/users/"+recipientUID+"/mail";
		var data = {
			src: user,
			message: document.getElementById("Message"),
			subject: document.getElementById("Subject")
		}
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = getData;
		xhttp.open("POST", url + data, true);
		if (localStorage["Authorization"])
			xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(JSON.stringify(data));
	}
	
	
  window.onload = FillTable();
  </script>
