<script>
var mEntry = document.getElementById("membEntry").cloneNode(true)
document.getElementById("membEntry").outerHTML = ""
var cEntry = document.getElementById("crossEntry").cloneNode(true)
document.getElementById("crossEntry").outerHTML = ""
var projectInfo = document.getElementById("projectInfo")
var errorField = document.getElementById("error")
var projectID = getParameterByName("id");
var loginUser = "guest"
var editButton = document.getElementById("editButton")
var nHeader = document.getElementById("nameHeader")
var projectProfile
if (localStorage["Authorization"]) {
		token = localStorage["Authorization"].split(" ")[1];
		loginUser = atob(token).split(":")[0];
}



var newcross = document.getElementById("newcross")
newcross.href += "?pid=" + projectID

function getParameterByName(name, url) {
	if (!url) {
	  url = window.location.href;
	}
	name = name.replace(/[\[\]]/g, "\\$&");
	var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		results = regex.exec(url);
	if (!results) return null;
	if (!results[2]) return '';
	return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function updateProjectInfo() {
		 if(this.readyState == 4 && this.status == 200) {
				var out = JSON.parse(this.responseText)
				if (out.code == 400) {
						errorField.innerHTML = "Unable to view project profile: Are you logged in?";
				} else if (out.code != 0) {
						errorField.innerHTML = out.status
				} else {
						var d = out.data

						projectProfile = d
						projectInfo.innerHTML = "<b>Species:</b> " + d.species + "<br>\n"
						projectInfo.innerHTML += "<b>Location:</b> " + d.location + "<br\n>"
						projectInfo.innerHTML += "<b>Type:</b> " + d.type + "<br>\n"
						projectInfo.innerHTML += "<b>Availability:</b> " + (d.public ? "Public" : "Private") + "<br>\n"
						projectInfo.innerHTML += "<b>My Role:</b> " + d.role + "<br>\n"
						document.getElementById("projectAbout").innerHTML = d.description
						nHeader.innerHTML = d.name
						if(d.id && loginUser != "guest" && (d.role == "Admin" || d.role == "Owner")) {
								nHeader.innerHTML += editButton.outerHTML
								document.getElementById("submitSpecies").value = d.species;
								document.getElementById("submitLocation").value = d.location;
								document.getElementById("submitAvailability").value = d.public;
								document.getElementById("submitDescription").value = d.description;
						}	
						var newcross = document.getElementById("newcross")
						if(d.role != "Admin" && d.role != "Owner" && d.role != "Member")
							newcross.outerHTML = ""
				}
		}
}

function updateMembersList() {
	var list = document.getElementById("memberList");
	if(this.readyState == 4 && this.status == 200) {
		var out = JSON.parse(this.responseText)
		if (out.code != 0) {
			errorField.innerHTML = out.status;
		} else {
			for(var i = 0; i < out.data.length; i++) {
				var d = out.data[i]
				var entry = mEntry.cloneNode(true)
				entry.id += d.id
				entry.children[0].children[0].children[0].href = "/profile.html?id=" + d.user_id
				var c = entry.children[0].children[1]
				var NameF = c.childNodes[1];
				var RoleF = c.childNodes[3];
				NameF.innerHTML = d.user_id
				RoleF.innerHTML = d.role_name
				list.appendChild(entry)
			}
		}
		
	}
}

function updateProjectInfo() {
		 if(this.readyState == 4 && this.status == 200) {
				var out = JSON.parse(this.responseText)
				if (out.code == 400) {
						errorField.innerHTML = "Unable to view project profile: Are you logged in?";
				} else if (out.code != 0) {
						errorField.innerHTML = out.status
				} else {
						var d = out.data
						projectProfile = d
						projectInfo.innerHTML = "<b>Species:</b> " + d.species + "<br>\n"
						projectInfo.innerHTML += "<b>Location:</b> " + d.location + "<br\n>"
						projectInfo.innerHTML += "<b>Type:</b> " + d.type + "<br>\n"
						projectInfo.innerHTML += "<b>Availability:</b> " + (d.public ? "Public" : "Private") + "<br>\n"
						projectInfo.innerHTML += "<b>My Role:</b> " + d.role + "<br>\n"
						document.getElementById("projectAbout").innerHTML = d.description
						nHeader.innerHTML = d.name
						if(d.id && loginUser != "guest" && (d.role == "Admin" || d.role == "Owner")) {
								nHeader.innerHTML += editButton.outerHTML
								document.getElementById("submitSpecies").value = d.species;
								document.getElementById("submitLocation").value = d.location;
								document.getElementById("submitAvailability").value = d.public;
								document.getElementById("submitDescription").value = d.description;
						}

				}
		}
}

function updateCrossList() {
	var list = document.getElementById("crossList");
	if(this.readyState == 4 && this.status == 200) {
		var out = JSON.parse(this.responseText)
		if (out.code != 0) {
			errorField.innerHTML = out.status;
		} else {
			for(var i = 0; i < out.data.length; i++) {
				var d = out.data[i]
				var entry = cEntry.cloneNode(true)
				entry.id += d.id
				entry.children[0].children[0].children[0].href = "/cross.html?id=" + d.id + "&pid=" + projectID
				var c = entry.children[0].children[1]
				var NameF = c.childNodes[1];
				var NoteF = c.childNodes[3];
				var TraitF = c.childNodes[7];
				NameF.innerHTML = d.name
				NoteF.innerHTML = d.description
/*
				if(d.traits) {
					TraitF.innerHTML = ""
					for (t of d.traits) {
						if(TraitF.innerHTML == "")
							TraitF.innerHTML += t.name 
						else
							TraitF.innerHTML += ", " + t.name
					}
				} else
					TraitF.innerHTML = "TODO"
*/
				list.appendChild(entry)
			}
		}
		
	}
}





function getProjectInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateProjectInfo;
	xhttp.open("GET", url + projectID, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.send(null)
}

function getMembersInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID + "/roles";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateMembersList;
	xhttp.open("GET", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.send(null)
}


function getCrossInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID + "/crosses";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateCrossList;
	xhttp.open("GET", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.send(null)
}

function UpdateProject() {
	var species = document.getElementById("submitSpecies").value;
	var address = document.getElementById("submitLocation").value;
	var availability = document.getElementById("submitAvailability").value;
	var description = document.getElementById("submitDescription").value;
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4)
			location.reload();
	}
	xhttp.open("PUT", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.setRequestHeader("Content-type", "application/json");
	projectProfile.species = species
	projectProfile.location = address
	projectProfile.public = availability == "true" ? true : false
	projectProfile.description = description
	xhttp.send(JSON.stringify(projectProfile));
}	

getProjectInfo()
getMembersInfo()
getCrossInfo()

/* canvas resizer start*/
var canvas = document.querySelector('canvas');
fitToContainer(canvas);

function fitToContainer(canvas){
  // Make it visually fill the positioned parent
  canvas.style.width ='100%';
  canvas.style.height='100%';
  // ...then set the internal size to match
  canvas.width  = canvas.offsetWidth;
  canvas.height = canvas.offsetHeight;
}
/* canvas resizer stop*/
</script>

<script>

function getData() {
	if(this.readyState == 4 && this.status == 200) {
		errdiv = document.getElementById("error");	
		var resp = JSON.parse(this.responseText)
		if (resp.code != 0) {
			errdiv.innerHTML = "Unable to load treeview for Project " +
				projectID + " because:<br> " +
				resp.status;
		}
		if (resp.data == null)
			return
		for (r of resp.data) {
			trees[trees.length] = new Tree(r);
		}
		draw();
	}
}

var trees = [];
var nodes = [];
var canvas = null;
var ctx = null;
var camera_pos = {x:300,y:300}
function Tree(r, l = 0) {
	this.el = {
		pos: {x: 0, y: 0},
		id: r.data.id,
		r: 15,
		project: r.data.projectId,
		name: r.data.name,
		children: [],
		layer: l
	};
	nodes[nodes.length] = this.el
	this.el.onclick = clickNode
	this.drawNode = drawNode
	this.Width = calcTreeWidth
	if (!r.children) 
		return;
	for( c of r.children) {
		this.el.children[this.el.children.length] = new Tree(c,l+1);
	}
}

function clickNode() {
	window.location = "/cross.html?id=" + this.id + "&pid="+projectID
}

const TMOD = 3

function calcTreeWidth() {
	var twidth = ctx.measureText(this.el.name + "").width
	twidth = twidth + (2 * TMOD)
	var myWidth = twidth < (2 * this.el.r) ? (2 * this.el.r) : twidth
	this.width = myWidth
	var subWidth = 0
	for (var i = 0; i < this.el.children.length; i++) {
		var e = this.el.children[i]
		subWidth += e.Width();
	}
	return subWidth <= myWidth ? myWidth : subWidth
}


function drawNode(pos) {
	var subWidth = this.Width()
	ctx.beginPath();
	this.el.pos.x = pos.x
	this.el.pos.y = pos.y
	ctx.save()
	var xscale = 1.0
	var ixscale = 1.0
	if(this.width >= 2 * this.el.r ) {
		xscale = (this.width / 2) / this.el.r;
		ixscale = 1/xscale
	}
	ctx.scale(xscale, 1)
	ctx.arc(this.el.pos.x * ixscale, this.el.pos.y, this.el.r, 0, 2 * Math.PI);
	ctx.stroke();
	ctx.restore();
	var newPos = {
		y: pos.y - 50, // go up
		x: pos.x //Move the tree left
	}
	if(this.el.children.length > 1)
		newPos.x -= (subWidth / 2)
	var tWidth = subWidth;
	for (var i = 0; i < this.el.children.length; i++) {
		var c = this.el.children[i]
		c.drawNode(newPos)
		ctx.moveTo(this.el.pos.x, this.el.pos.y - this.el.r);
		ctx.lineTo(newPos.x, newPos.y + c.el.r)
		ctx.stroke();
		var change = c.Width()
		if(i + 1 < this.el.children.length) {
			var t  = this.el.children[i+1].Width()
			change += t
		}
		newPos.x += change
	}
	ctx.lineWidth=1;
	ctx.strokeText(this.el.name,pos.x - (this.width/2) +  TMOD ,pos.y+4)
}

prevMouse = {x:0,y:0}
var clicked = false
var dragged = false
function mouseDrag(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	if (clicked) {
		dragged = true;
		delta = {
			x: mousePos.x - prevMouse.x,
			y: mousePos.y - prevMouse.y
		}
		camera_pos.x += delta.x * 0.7
		camera_pos.y += delta.y * 0.7
		ctx.clearRect(0,0,canvas.width,canvas.height);
		draw();
	}
	prevMouse.x = mousePos.x
	prevMouse.y = mousePos.y
	
}

function mouseClick(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	var clickPos = {
		x: mousePos.x,// - camera_pos.x,
		y: mousePos.y// - camera_pos.y
	}
	for(var i = 0; i < nodes.length; i++) {
		var node = nodes[i]
		var xSq = (clickPos.x - node.pos.x)
		xSq *= xSq
		var ySq = (clickPos.y - node.pos.y)
		ySq *= ySq
		if(xSq + ySq < node.r * node.r)
			node.onclick()
		
	}
}


function begin() {
	canvas = document.getElementById("tree");	
	canvas.addEventListener('mousemove', mouseDrag, false);
	canvas.addEventListener('mousedown', function(e) {clicked = true;dragged=false;}, false);
	canvas.addEventListener('mouseup', function(e) {
			clicked = false;
			if (!dragged)
				mouseClick(e)
			dragged=false;
		}, false);
	ctx = canvas.getContext("2d");
	ctx.font = "8pt Courier"
	var URL = "http://bloomgenetics.tech/api/v1";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = getData;
	xhttp.open("GET", URL + "/projects/" + projectID + "/treview", true);
	if (localStorage.getItem("Authorization")) {
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	}
	xhttp.send(null);
}

function draw() {
	if (trees.length == 0)
		return
	offset = {
		x: camera_pos.x,
		y: camera_pos.y
		}
	for (r of trees) {
		r.drawNode(offset)
		offset.x += 100
	}
}
window.onload = begin
</script>

  
  <div class="container" style="max-width: 750px;">
	<!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<h2 id="idHeader" class="header contentbox-header" style="max-width: 750px;">Members
		<a id="editButton" data-toggle="modal" data-target="#editMemberModal">
			<span class="pull-right">
				<span class="glyphicon glyphicon-edit">
				</span>
			</span>
		</a>
	</h2>
		<div class="contentbox">
			<h3><b>Member List</b></h3>
			<div class="row">
				<ul class="media-list" id="memberList">
					<div class="media" id="membEntry">
						<div style="margin: auto;">
							<div class="media-left well">
								<a href="#" id="membImgURL">
									<img class="media-object" src="/static/media/flower.png" style="height: 50px; width: 50px;"  alt="Generic placeholder image" id="resultImg">
								</a>
							</div>
							<div class="media-body well">
								<div>
									<h4 class="media-heading" >USER</h4>
									Role: <text ></text>
									<p ></p>
								</div>
								<div style="float: right;">
								Test
								</div>
							</div>
						</div>
					</div>
				</ul>
			</div>
		</div>
	  
	  
	  
	  
	<!-- edit page pop up content start-->
	<div id="editMemberModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<section class="row container-fluid">
							<div class="row">
								<h3 style="display: inline-block;">USER's Role: </h3>
								<div class="dropdown" style="display: inline-block;">
									<button id='memberbutton' class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Role
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" id="parent1list">
									</ul>
								</div>
							</div>
							<br>
							<button onclick="UpdateMemberRole()" class="btn btn-shutterOut" style="margin-top:10px">Update Member</button>
						</section>			
					</div>
				  </div>


		</div>
	</div>
	<!-- edit page pop up content stop-->
  </div>