<div class="container" style="max-width: 900px;">
	<!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	
	<div>
		<li id="projectHeader" class="contentbox-header-leftmost" style="font-size: 20px; z-index: 3;">Project
		</li>
		<li id="" class="contentbox-header-new" style="font-size: 20px;z-index: 4;">Crosses
		</li>
		<li id="memberHeader" class="contentbox-header-new" style="font-size: 30px; z-index: 5;">Members
		</li>

	</div>
	

	

		<div class="contentbox">
		
			<div class="container-fluid">		
				<div class="container-fluid">
						<h3 style="text-align: center"><label class="checkbox-inline"><input id="b1" type="checkbox" value="">Projects</label>
						<label class="checkbox-inline"><input id="b2" type="checkbox" value="">People</label>
						<input id="terms" type="text" class="form-control" name="search" placeholder="Search here"></h3>

						<button onclick="Search()" class="btn btn-shutterOut" name="submit" id="button-submit">Search</button>

				</div>
				<div class="container-fluid">
					<h2 style="text-align: center; text-decoration: underline;"> RESULTS </h2>
					<ul class="media-list" id="resultList">
						<div class="media" id="result">
							<div class="media-left well">
								<a href="#" id="resultImgURL">
									<img class="media-object" width='96' src="/static/media/flower.png" alt="Generic placeholder image" id="resultImg">
								</a>
							</div>
							<div class="media-body well">
								<h4 class="media-heading" >Media heading</h4>
								Location: <text ></text>
								<p ></p>
							</div>
						</div>
					</ul>
				</div>		
			</div>
		
		
		
		
			<h3><b>Member List</b></h3>
			<div class="row">
				<ul class="media-list" id="memberList">
					<div class="media" id="membEntry">
						<div style="margin: auto;">
							<div class="media-left well">
								<a href="#" id="membImgURL">
									<img class="media-object" src="/static/media/flower.png" style="height: 50px; width: 50px;"  alt="Generic placeholder image" id="resultImg">
								</a>
							</div>
							<div class="media-body well">
								<div>
									<h4 class="media-heading" >USER
									</h4> 
									<h4>
										Role: <text ></text>
										<a style="display: inline-block;" id="editMemberButton" data-toggle="modal" data-target="#editMemberModal">
											<span class="pull-right">									
												<span class="glyphicon glyphicon-edit">
												</span>

											</span>
										</a>
									</h4>
									<p ></p>
								</div>
							</div>
						</div>
					</div>
				</ul>
			</div>
		</div>
	  
	  
	  
	  
	<!-- edit page pop up content start-->
	<div id="editMemberModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<section class="row container-fluid">
							<div class="row-fluid" style="text-align: center">
								<h3 style="display: inline-block;">Role: </h3>
								<div class="dropdown" style="display: inline-block;">
									<button id='memberbutton' class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Role
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" id="parent1list">
									</ul>
								</div>
								<div  style="display: inline-block; width: 50%; text-bottom">
									<button onclick="UpdateMemberRole()" class="btn btn-shutterOut">Update</button>
								</div>
							</div>
							
						</section>			
					</div>
				  </div>


		</div>
	</div>
	<!-- edit page pop up content stop-->
</div>