<div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<h2 class="row header container" style="max-width: 750px;">Create New Candidate
	</h2>
	  <div class="contentbox">
		<div class="container-fluid">
		  <div id="result"></div>
			<b>Update Candidate Picture 
				<div id="error"></div>
				<input type="file" name="submitImage" id="submitImage">
			</b>
			<div class="form-group">
				<label for="yeargrown">Year Grown</label>
				<input type="text" class="form-control" id="yeargrown" placeholder="Year Grown">
			</div>
			<div class="form-group">
				<label for="season grown">Season Grown</label>
				<input type="text" class="form-control" id="season grown" placeholder="Season Grown">
			</div>
			<div class="form-group">
				<label for="notes">Candidate Notes</label>
				<input type="text" class="form-control" id="notes" placeholder="Notes">
			</div>


			<button onclick="UpdateCandidate()" class="btn btn-default">Update</button>

		</div>
	  </div>
	  
</div>
