<div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<h2 class="header contentbox-header" style="max-width: 750px;">New Candidate
	</h2>
	  <div class="contentbox">
		<div class="container-fluid">
		  <div id="result"></div>
		   <h3><b>Parent Cross: HERE</b></h3>
			<b>Upload Candidate Picture 
				<div id="error"></div>
				<input type="file" name="submitImage" id="submitImage">
			</b>
			<!--
			<div class="form-group">
				<label for="yeargrown">Year Grown</label>
				<input type="text" class="form-control" id="yeargrown" placeholder="Year Grown">
			</div>
			<div class="form-group">
				<label for="season grown">Season Grown</label>
				<input type="text" class="form-control" id="seasongrown" placeholder="Season Grown">
			</div>
			-->
			<div class="form-group">
				<label for="notes">Candidate Notes</label>
				<input type="text" class="form-control" id="candidatenotes" placeholder="Notes">
			</div>
			<h3><b>Pool of Traits</b><h3>
			<div>
				<div style="display: inline-block;">Add New Trait<a style="margin-left: 10px;" data-toggle="modal" data-target="#newTraitModal" class="glyphicon glyphicon-edit pull-right"></a></div>
				<div style="display: inline-block;">Add Old Trait<a style="margin-left: 10px;" data-toggle="modal" data-target="#existingTraitModal" class="glyphicon glyphicon-edit pull-right"></a></div>
			</div>
			  <table class="table table-striped">
				<thead>
				  <tr>
					<th>Select</th>
					<th>Trait</th>
					<th>Dominance</th>
					<th>% Chance</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td><label><input type="checkbox" value=""></label></td>
					<td>Trait 1</td>
					<td>Dominant</td>
					<td>33</td>
				  </tr>
				  <tr>
					<td><label><input type="checkbox" value=""></label></td>
					<td>Trait 2</td>
					<td>Recessive</td>
					<td>75</td>
				  </tr>
				  <tr>
					<td><label><input type="checkbox" value=""></label></td>
					<td>Trait 3</td>
					<td>Recessive</td>
					<td>50</td>
				  </tr>
				  <tr>
					<td><label><input type="checkbox" value=""></label></td>
					<td>Trait 4</td>
					<td>Dominant</td>
					<td>33</td>
				  </tr>
				</tbody>
			  </table>


			<button onclick="CreateCandidate()" class="btn btn-shutterOut">Create Candidate</button>

		</div>
	  </div>
	  	<!-- edit candiate page pop up content start-->
	<div id="newTraitModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<div class="form-group">
							<label for="traitname">Trait Name</label>
							<input type="text" class="form-control" id="traitname" placeholder="Name the trait you want to breed for">
						</div>
						<div class="form-group">
						<label class="radio-inline"><input type="radio" name="optradio">Dominant</label>
						<label class="radio-inline"><input type="radio" name="optradio">Recessive</label>
						<label class="radio-inline"><input type="radio" name="optradio">Unknown</label>
						</div>
		
						<button onclick="AddTrait()" class="btn btn-shutterOut">Add Trait</button>
			
					</div>
				  </div>


		</div>
	</div>
	<!-- edit candidate page pop up content  stop-->
	
	
		  	<!-- edit candiate page pop up content start-->
	<div id="existingTraitModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<label class="checkbox"><input type="checkbox" value="">Available Trait 1, pulled from pool of traits in project</label>
						<label class="checkbox"><input type="checkbox" value="">Available Trait 2, pulled from pool of traits in project</label>
						<label class="checkbox"><input type="checkbox" value="">Available Trait 3, pulled from pool of traits in project</label>
						<label class="checkbox"><input type="checkbox" value="">Available Trait 4, pulled from pool of traits in project</label>
		
						<button onclick="AddTrait()" class="btn btn-shutterOut">Add Trait</button>
			
					</div>
				  </div>


		</div>
	</div>
	<!-- edit candidate page pop up content  stop-->
	  
	
	
	
	  
</div>
