  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="header contentbox-header" style="max-width: 750px;">New Cross</h2>
      <div class="contentbox">
        <div class="container-fluid">
			  <div id="result"></div>
					<section class="row container-fluid">
						<div>
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" style="display: inline-block;" type="button" data-toggle="dropdown">Parent 1
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="#">parent 2</a></li>
									<li><a href="#">parent 3</a></li>
									<li><a href="#">parent 5</a></li>
								</ul>
							</div>
						</div>
						<div>
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" style="display: inline-block;" type="button" data-toggle="dropdown">Parent 2
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="#">parent 2</a></li>
									<li><a href="#">parent 3</a></li>
									<li><a href="#">parent 5</a></li>
								</ul>
							</div>
						</div>
					
						<div class="form-group">
						  <label for="notes">Notes</label>
						  <input type="text" class="form-control" id="notes" placeholder="Notes">
						</div>


						<button onclick="CreateCross()" class="btn btn-shutterOut">Create Cross</button>
					</section>
        </div>
      </div>
  </div>