<script>
function CreateProject(){
	var url = "http://bloomgenetics.tech/api/v1/projects";
	var xhttp = new XMLHttpRequest()
	var data = "name=" + document.getElementById("projectname").value +
			"&description=" + document.getElementById("description").value +
			"&location=" + document.getElementById("location").value +
			"&species=" + document.getElementById("species").value +
			"&type=" + document.getElementById("type").value +
			"&public=" + document.getElementById("public").value;
	xhttp.onreadystatechange = getData;
	xhttp.open("POST", url, true);
	xhttp.setRequestHeader("Authorization",localStorage["Authorization"]);
	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xhttp.send(data);
}
function getData(){
	if(this.readyState == 4 && this.status == 200) {
		var out = document.getElementById("result");
		var resp = JSON.parse(this.responseText);
		if(resp.code == 0) {
			window.location="/index.html"
		} else {
			out.innerHTML = resp.status;
		}
	}
}
if (!localStorage["Authorization"]) {
	window.location = "/login.html"
}
</script>

<div class="container" style="max-width: 750px;">
	  <h2 class="row header container" style="max-width: 750px;">Create New Project</h2>
	  <div class="contentbox">
		<div class="container-fluid">
		  <div id="result"></div>
			<div class="form-group">
			  <label for="projectname">Project Name</label>
			  <input type="text" class="form-control" id="projectname" placeholder="Project Name">
			</div>
			<div class="form-group">
			  <label for="description">Description:</label>
			  <input type="text" class="form-control" id="description" placeholder="Description">
			</div>
			<div class="form-group">
			  <label for="location">Location</label>
			  <input type="text" class="form-control" id="location" placeholder="Location">
			</div>
			<div class="form-group">
			  <label for="species">Species</label>
			  <input type="text" class="form-control" id="species" placeholder="Species">
			</div>
			<div class="form-group">
			  <label for="type">Project Type</label>
			  <input type="text" class="form-control" id="type" placeholder="Project Type">
			</div>
			<div class="form-group">
			  <label for="public">Public (boolean)?</label>
			  <input type="text" class="form-control" id="public" placeholder="public">
			</div>
			<button onclick="CreateProject()" class="btn btn-default">Create Project</button>
		
		
		
		</div>
	  </div>  
</div>