<div class="container" style="max-width: 750px;">
	<h2 class="row header container" style="max-width: 750px;">
		NAME's Profile <a><span class="pull-right"><span class="glyphicon glyphicon-edit">Edit</span></span></a>
	</h2>
	<div class="contentbox">
		<div class="container-fluid">
			<br>
			<section class="row container-fluid">
				<p class="col-sm-6 col-md-4 col-lg-4">
					<img alt="Player Profile Picture." height="200" src="" width="200">
				</p>
				<section class="col-sm-7">
					<b>Specialty:</b> Peppers and Tomatoes<br>
					<b>Growzone:</b> Zone 8b<br>
					<b>State:</b> Michigan<br>
					<b>Seasons Active:</b> Summer, Fall, Winter, Spring test test test test test test test test test test<br>
					<b>Address:</b> 908 Blue Heron Dr. Highland Mi 48357<br>
					<b>Email:</b>ecdolley@oakland.edu<br>
				</section>
			</section>
			<section class="row-fluid">
				<h3>
					<b>About me:</b>
				</h3>
				<p>
					text text text bla bla bla text text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla bla
				</p><br>
			</section>
			<section class="row-fluid">
				<h3>
					<b>Current Projects</b>
				</h3>
				<div class="row">
					<h2 style="text-align: center; text-decoration: underline;">
						RESULTS
					</h2>
					<div class="media-list" id="resultList" style="margin-left: 2em">
						<div class="media" id="result">
							<div style="margin: auto;">
								<div class="media-left well">
									<a href="#" id="resultImgURL"><img alt="Generic placeholder image" class="media-object" id="resultImg" src="..."></a>
								</div>
								<div class="media-body well">
									<h4 class="media-heading">
										Media heading
									</h4>Location:<br>
									USER's role:
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p></p><br>
			</section>
		</div>
	</div>
</div>