
  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="row header container" style="max-width: 750px;">NAME's Profile <a>
        <span class="pull-right">
			
            <span class="glyphicon glyphicon-edit">
			Edit
            </span>
          </span></a></h2>
      <div class="contentbox">
        <div class="container">
          <!--Adds style color to "Player Profile"-->
          <br>

          <section class="row container">
            <!-- Fetches and displays the player profile image -->
            <p class="col-sm-6 col-md-4 col-lg-4" style="max-width: 250px;"><img src="" width="200" height="200" alt="Player Profile Picture."></p>

            <section class="col-sm-7" style="max-width: 400px;">
              <b>Specialty:</b> Peppers and Tomatoes <br>
              <b>Growzone:</b> Zone 8b <br>
              <b>State:</b> Michigan <br>
              <b>Seasons Active:</b> Summer, Fall, Winter, Spring test test test test test test test test test test<br>
              <b>Address:</b> 908 Blue Heron Dr. Highland Mi 48357 <br>
              <b>Email:</b>ecdolley@oakland.edu <br>
            </section>

          </section>

          <section class="row col-sm-8 col-md-8 col-lg-8" style="max-width: 596.66px;">
            <h3><b>About me:</b></h3>

            <p>text text text bla bla bla text text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla bla</p><br>

       
          </section>
          <section  style="">
            <h3><b>Current Projects</b></h3>
	<div class="row">
		<h2 style="text-align: center; text-decoration: underline;"> RESULTS </h2>
	  <ul class="media-list" id="resultList">
		  <div class="media" id="result">
		<div style="margin: auto;">
			<div class="media-left well">
			  <a href="#" id="resultImgURL">
				<img class="media-object" src="..." alt="Generic placeholder image" id="resultImg">
			  </a>
			</div>
			<div class="media-body well">
			  <h4 class="media-heading" >Media heading</h4>
			  Location: <text ></text>
			  <br>
			  USER's role: <text ></text>
			  <p ></p>
			</div>
		</div>
		  </div>
	  </ul>
	</div>
            <p></p><br>

       
          </section>
        </div>
      </div>
  </div>
