
  <div class="container" style="max-width: 750px;">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
      <h2 class="row header container" style="max-width: 750px;">NAME's Profile <a>
        <span class="pull-right">
            <span class="glyphicon glyphicon-edit">
            </span>
          </span></a></h2>
      <div class="contentbox">
        <div class="container">
          <!--Adds style color to "Player Profile"-->
          <br>

          <section class="row container">
            <!-- Fetches and displays the player profile image -->
            <p class="col-sm-6 col-md-4 col-lg-4" style="max-width: 250px;"><img src="" width="200" height="200" alt="Player Profile Picture."></p>

            <section class="col-sm-offset-1 col-sm-3">
              <b>Specialty:</b> text <br>
              <b>Growzone:</b> text <br>
              <b>State</b> text <br>
              <b>Seasons Active</b> text<br>
              <b>Address</b> text <br>
              <b>Email</b>text <br>
              <b>State:</b> text <br>
            </section>

          </section>

          <section class="col-sm-8 col-md-8 col-lg-8" style="max-width: 596.66px;">
            <h3><b>About me:</b></h3>

            <p>text text text bla bla bla text text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla bla</p><br>

       
          </section>
        </div>
      </div>
  </div>
