<div class="container" style="max-width: 750px;">
<!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<h2 class="row header container" style="max-width: 750px;">PROJECTNAME Project <a data-toggle="modal" data-target="#editProjectModal">
		<span class="pull-right">
				<span class="glyphicon glyphicon-edit">
				</span>
			Edit
		</span></a>
	</h2>
	<div class="contentbox">
		<div class="container-fluid">
		  <!--Adds style color to "Player Profile"-->
		  <br>

			<section class="row container-fluid">
			<!-- Fetches and displays the player profile image -->
				<p class="col-sm-6 col-md-4 col-lg-4"><img src="" width="200" height="200" alt="Project Picture."></p>

				<section class="col-sm-7">
					<b>Species:</b> Pepper <br>
					<b>Location:</b> Midwest <br>
					<b>Type:</b> Back Crossing<br>
					<b>Availability: </b> Public <br>
					<b>Owner</b> EricSk8trix420 <br>
				</section>
			</section>

			<section class="row-fluid">
				<h3><b>Description:</b></h3>
				<p>text text text bla bla bla text text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla blatext text text bla bla bla</p><br>
			</section>
			
			<section class="row-fluid">
				<h3><b>Members</b></h3>
				<div class="row">
					<ul class="media-list" id="resultList">
						<div class="media" id="result">
							<div style="margin: auto;">
								<div class="media-left well">
									<a href="#" id="resultImgURL">
										<img class="media-object" src="..." alt="Generic placeholder image" id="resultImg">
									</a>
								</div>
								<div class="media-body well">
									<h4 class="media-heading" >NAME</h4>
									Location: <text ></text>
								    <br>
									USER's role: <text ></text>
									<p ></p>
								</div>
							</div>
						</div>
					</ul>
				</div>
				<p></p><br>
			</section>
		</div>
	</div>
  

	<!-- edit page pop up conent start-->
	<div id="editProjectModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->

				  <div class="contentbox">
					<div class="container-fluid">
					  <div id="result"></div>
						<div class="form-group">
							<label for="species">Species</label>
							<input type="text" class="form-control" id="species" placeholder="Species">
						</div>
						<div class="form-group">
							<label for="location">Location</label>
							<input type="text" class="form-control" id="location" placeholder="Location">
						</div>
						<div class="form-group">
							<label for="availability">Availability</label>
							<input type="text" class="form-control" id="availability" placeholder="Availability">
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<input type="text" class="form-control" id="description" placeholder="Description">
						</div>

						<button onclick="UpdateProject()" class="btn btn-default">Update</button>
			
					</div>
				  </div>


	  </div>
	</div>
	<!-- edit page pop up conent stop-->
  
  
  
  
</div>





<!--Shitty old layout
<div class="container">   
   <div class="row">
	<div class="col-sm-12">
      <div class="col-md-4">
        <div class="contentbox">
		  <h1 align="center">Project Name</h1>
          <p><img class = "logo" src="\static\media\flower.png" width="275" height="250" alt="Logo"></p>
		  <h2 align="left">Species: Pepper</h2>
		  <h2 align="left">Mail</h2>
		  <h2 align="left">Join</h2>
         
        </div>
      </div>
	  
      <div class="col-md-4">
        <div class="contentbox">
          <h1 align="center">Project Description</h1>
		  <p align="center"> Blah blah peppers blah wada wada</p>
        </div>
      </div>
	  
      <div class="col-md-4">
        <div class="contentbox">
          <h1 align="center">Welcome!</h1>
          <p align="center">...to Bloom. If you're new, try our <a href="#">About</a> page. Otherwise, you can check out <a href="#">Registration</a> or search our <a href="#">Project Profiles</a>. If you have any questions, please consult our <a href="#">FAQ</a> first.</p>
        </div>
      </div>
</div>
-->