<div class="container" style="max-width: 900px;">
<!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
	<div>
		<li id="nameHeader" class="contentbox-header-leftmost" style="font-size: 30px; z-index: 5;">Project
			<a id="editButton" data-toggle="modal" data-target="#editProjectModal">
				<span class="pull-right">
					<span class="glyphicon glyphicon-edit">
					</span>	
				</span>
			</a>
		</li>
		<li id="idHeader" class="contentbox-header-new" style="font-size: 20px;z-index: 4;">Crosses
		</li>
		<li id="idHeader" class="contentbox-header-new" style="font-size: 20px;z-index: 1; float: right;">Members
		</li>

	</div>
	<div class="contentbox">
		<div class="container-fluid">
			<!--Adds style color to "Player Profile"-->
					<section class="row container-fluid subsection-1">
					<!-- Fetches and displays the player profile image -->
						<p class="col-sm-6 col-md-4 col-lg-4"><img src="/static/media/flower.png" width="200" height="200" alt="Project Picture."></p>
						<h4><section id="projectInfo">
							<b>Species:</b> Pepper <br>
							<b>Location:</b> Midwest <br>
							<b>Type:</b> Back Crossing<br>
							<b>Availability: </b> Public <br>
							<b>Owner</b> EricSk8trix420 <br>
						</section></h4>
					</section>
					<div>
						<div style="display: inline-block;"><button style="font-size: 20px;" onclick="CreateCandidate()" class="btn btn-shutterOut">Email Project Owner</button></div>
						<div style="display: inline-block;"><button style="font-size: 20px;" onclick="CreateCandidate()" class="btn btn-shutterOut">Ask to Join Project</button></a></div>
					</div>
					<section class="row-fluid">
						<h3><b>Description:</b></h3>
						<p id="projectAbout">Blank text</p><br>
					</section>
					<section class="row-fluid" style="background:rgba(255,255,255,0.5);">
						<h3>
							<b>
								TreeView:
							</b>
						</h3>
					<canvas id="tree" width="100%" height="350"></canvas>
					</section>
					<section class="row-fluid">
			<h3><b><div style="display: inline-block;">Members<a id="newmember" style="margin-left: 10px;" data-toggle="modal" data-target="#addMemberModal" class="glyphicon glyphicon-plus pull-right"></a></div></h3></b>
			<div class="row">
				<ul class="media-list" id="memberList">
					<div class="media" id="membEntry">
						<div style="margin: auto;">
							<div class="media-left well">
								<a href="#" id="membImgURL">
									<img class="media-object" src="/static/media/flower.png" style="height: 50px; width: 50px;"  alt="Generic placeholder image" id="resultImg">
								</a>
							</div>
							<div class="media-body well">
								<h4 class="media-heading" >USER</h4>
								Role: <text ></text>
								<p ></p>
							</div>
						</div>
					</div>
				</ul>
			</div>
			<p></p><br>
					</section>
					
					<section class="row-fluid">
						<h3><b><div style="display: inline-block;">Crosses<a style="margin-left: 10px;" class="glyphicon glyphicon-plus pull-right" id="newcross" href="newcross.html"></a></div></h3></b>
						<div class="row" style="max-height: 500px; overflow: auto; overflow-x: hidden;">
							<ul class="media-list" id="crossList" style="margin: auto; max-width: 95%;">
								<div class="media" id="crossEntry">
									<div>
										<div class="media-left well">
											<a href="#" id="crossImgURL">
												<img class="media-object" src="/static/media/flower.png" style="height: 50px; width: 50px;" alt="random image of candidate?" id="resultImg">
											</a>
										</div>
										<div class="media-body well">
											<h4 class="media-heading" >CROSS NAME</h4>
											Notes: <text ></text>
											<br>
											<!--Traits: <text ></text>-->
											<p ></p>
										</div>
									</div>
								</div>
						</ul>
						</div>
						<p></p><br>
					</section>
		</div>
	</div>


	<!-- edit page pop up conent start-->
	<div id="editProjectModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->

		<div class="contentbox">
			<div class="container-fluid">
				<div id="result"></div>
				<div class="form-group">
					<label for="species">Species</label>
					<input type="text" class="form-control" id="submitSpecies" placeholder="Species">
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input type="text" class="form-control" id="submitLocation" placeholder="Location">
				</div>
				<div class="form-group">
					<label for="availability">Availability</label>
					<input type="text" class="form-control" id="submitAvailability" placeholder="Availability">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input type="text" class="form-control" id="submitDescription" placeholder="Description">
				</div>

				<button onclick="UpdateProject()" class="btn btn-shutterOut">Update</button>

			</div>
		</div>


		</div>
	</div>
	<!-- edit page pop up conent stop-->
</div>

<script>
var mEntry = document.getElementById("membEntry").cloneNode(true)
document.getElementById("membEntry").outerHTML = ""
var cEntry = document.getElementById("crossEntry").cloneNode(true)
document.getElementById("crossEntry").outerHTML = ""
var projectInfo = document.getElementById("projectInfo")
var projectID = getParameterByName("id");
var loginUser = "guest"
var editButton = document.getElementById("editButton")
var newmember = document.getElementById("newmember")
var nHeader = document.getElementById("nameHeader")
var projectProfile
if (localStorage["Authorization"]) {
		token = localStorage["Authorization"].split(" ")[1];
		loginUser = atob(token).split(":")[0];
}



newcross.href += "?pid=" + projectID


function removePluses(list=["newcross","editButton","newmember"]) {
	var pluses = list
	for (s of pluses) {
		var el = document.getElementById(s)
		if (el)
			el.parentElement.removeChild(el)
	}
}

function getParameterByName(name, url) {
	if (!url) {
	  url = window.location.href;
	}
	name = name.replace(/[\[\]]/g, "\\$&");
	var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		results = regex.exec(url);
	if (!results) return null;
	if (!results[2]) return '';
	return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function updateProjectInfo() {
		 if(this.readyState == 4 && this.status == 200) {
				var out = JSON.parse(this.responseText)
				if (out.code == 400) {
						removePluses()
				} else if (out.code != 0) {
						removePluses()
				} else {
						var d = out.data

						projectProfile = d
						projectInfo.innerHTML = "<b>Species:</b> " + d.species + "<br>\n"
						projectInfo.innerHTML += "<b>Location:</b> " + d.location + "<br\n>"
						projectInfo.innerHTML += "<b>Type:</b> " + d.type + "<br>\n"
						projectInfo.innerHTML += "<b>Availability:</b> " + (d.public ? "Public" : "Private") + "<br>\n"
						projectInfo.innerHTML += "<b>My Role:</b> " + d.role + "<br>\n"
						document.getElementById("projectAbout").innerHTML = d.description
						nHeader.innerHTML = d.name
						if(d.id && loginUser != "guest" && (d.role == "Admin" || d.role == "Owner")) {
								nHeader.innerHTML += editButton.outerHTML
								document.getElementById("submitSpecies").value = d.species;
								document.getElementById("submitLocation").value = d.location;
								document.getElementById("submitAvailability").value = d.public;
								document.getElementById("submitDescription").value = d.description;
						}	
						var newcross = document.getElementById("newcross")
						if(d.role != "Admin" && d.role != "Owner" && d.role != "Member") {
							removePluses(["newcross"])
						}
						if(d.role != "Admin" && d.role != "Owner") {
							removePluses(["newmember"])
							removePluses(["editButton"])	
						}
				}
		}
}

function updateMembersList() {
	var list = document.getElementById("memberList");
	if(this.readyState == 4 && this.status == 200) {
		var out = JSON.parse(this.responseText)
		if (out.code != 0) {
			removePluses()
		} else {
			for(var i = 0; i < out.data.length; i++) {
				var d = out.data[i]
				var entry = mEntry.cloneNode(true)
				entry.id += d.id
				entry.children[0].children[0].children[0].href = "/profile.html?id=" + d.user_id
				var c = entry.children[0].children[1]
				var NameF = c.childNodes[1];
				var RoleF = c.childNodes[3];
				NameF.innerHTML = d.user_id
				RoleF.innerHTML = d.role_name
				list.appendChild(entry)
			}
		}
		
	}
}

function updateProjectInfo() {
	 if(this.readyState == 4 && this.status == 200) {
		var out = JSON.parse(this.responseText)
		if (out.code == 400) {
			removePluses()
		} else if (out.code != 0) {
			removePluses()
		} else {
			var d = out.data
			projectProfile = d
			projectInfo.innerHTML = "<b>Species:</b> " + d.species + "<br>\n"
			projectInfo.innerHTML += "<b>Location:</b> " + d.location + "<br\n>"
			projectInfo.innerHTML += "<b>Type:</b> " + d.type + "<br>\n"
			projectInfo.innerHTML += "<b>Availability:</b> " + (d.public ? "Public" : "Private") + "<br>\n"
			projectInfo.innerHTML += "<b>My Role:</b> " + d.role + "<br>\n"
			document.getElementById("projectAbout").innerHTML = d.description
			nHeader.innerHTML = d.name
			if(d.id && loginUser != "guest" && (d.role == "Admin" || d.role == "Owner")) {
					nHeader.innerHTML += editButton.outerHTML
					document.getElementById("submitSpecies").value = d.species;
					document.getElementById("submitLocation").value = d.location;
					document.getElementById("submitAvailability").value = d.public;
					document.getElementById("submitDescription").value = d.description;
			}
		}
	}
}

function updateCrossList() {
	var list = document.getElementById("crossList");
	if(this.readyState == 4 && this.status == 200) {
		var out = JSON.parse(this.responseText)
		if (out.code != 0) {
			removePluses()
		} else {
			for(var i = 0; i < out.data.length; i++) {
				var d = out.data[i]
				var entry = cEntry.cloneNode(true)
				entry.id += d.id
				entry.children[0].children[0].children[0].href = "/cross.html?id=" + d.id + "&pid=" + projectID
				var c = entry.children[0].children[1]
				var NameF = c.childNodes[1];
				var NoteF = c.childNodes[3];
				var TraitF = c.childNodes[7];
				NameF.innerHTML = d.name
				NoteF.innerHTML = d.description
/*
				if(d.traits) {
					TraitF.innerHTML = ""
					for (t of d.traits) {
						if(TraitF.innerHTML == "")
							TraitF.innerHTML += t.name 
						else
							TraitF.innerHTML += ", " + t.name
					}
				} else
					TraitF.innerHTML = "TODO"
*/
				list.appendChild(entry)
			}
		}
		
	}
}





function getProjectInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateProjectInfo;
	xhttp.open("GET", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.send(null)
}

function getMembersInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID + "/roles";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateMembersList;
	xhttp.open("GET", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.send(null)
}


function getCrossInfo() {
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID + "/crosses";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = updateCrossList;
	xhttp.open("GET", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.send(null)
}

function UpdateProject() {
	var species = document.getElementById("submitSpecies").value;
	var address = document.getElementById("submitLocation").value;
	var availability = document.getElementById("submitAvailability").value;
	var description = document.getElementById("submitDescription").value;
	var url = "http://bloomgenetics.tech/api/v1/projects/" + projectID;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4)
			location.reload();
	}
	xhttp.open("PUT", url, true);
	if(localStorage["Authorization"])
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	xhttp.setRequestHeader("Content-type", "application/json");
	projectProfile.species = species
	projectProfile.location = address
	projectProfile.public = availability == "true" ? true : false
	projectProfile.description = description
	xhttp.send(JSON.stringify(projectProfile));
}	

getProjectInfo()
getMembersInfo()
getCrossInfo()

/* canvas resizer start*/
var canvas = document.querySelector('canvas');
fitToContainer(canvas);

function fitToContainer(canvas){
  // Make it visually fill the positioned parent
  canvas.style.width ='100%';
  canvas.style.height='100%';
  // ...then set the internal size to match
  canvas.width  = canvas.offsetWidth;
  canvas.height = canvas.offsetHeight;
}
/* canvas resizer stop*/
</script>

<script>

function getData() {
	if(this.readyState == 4 && this.status == 200) {
		errdiv = document.getElementById("error");	
		var resp = JSON.parse(this.responseText)
		if (resp.code != 0) {
			removePluses()
			return
		}
		if (resp.data == null)
			return
		for (r of resp.data) {
			trees[trees.length] = new Tree(r);
		}
		draw();
	}
}

var trees = [];
var nodes = [];
var canvas = null;
var ctx = null;
var camera_pos = {x:0,y:0}
function Tree(r, l = 0) {
	this.el = {
		pos: {x: 0, y: 0},
		id: r.data.id,
		r: 15,
		project: r.data.projectId,
		name: r.data.name,
		children: [],
		layer: l
	};
	nodes[nodes.length] = this.el
	this.el.onclick = clickNode
	this.drawNode = drawNode
	this.Width = calcTreeWidth
	if (!r.children) 
		return;
	for( c of r.children) {
		this.el.children[this.el.children.length] = new Tree(c,l+1);
	}
}

function clickNode() {
	window.location = "/cross.html?id=" + this.id + "&pid="+projectID
}

const TMOD = 3

function calcTreeWidth() {
	var twidth = ctx.measureText(this.el.name + "").width
	twidth = twidth + (2 * TMOD)
	var myWidth = twidth < (2 * this.el.r) ? (2 * this.el.r) : twidth
	this.width = myWidth
	var subWidth = 0
	for (var i = 0; i < this.el.children.length; i++) {
		var e = this.el.children[i]
		subWidth += e.Width();
	}
	return subWidth <= myWidth ? myWidth : subWidth
}


function drawNode(pos) {
	var subWidth = this.Width()
	ctx.beginPath();
	this.el.pos.x = pos.x
	this.el.pos.y = pos.y
	ctx.save()
	var xscale = 1.0
	var ixscale = 1.0
	if(this.width >= 2 * this.el.r ) {
		xscale = (this.width / 2) / this.el.r;
		ixscale = 1/xscale
	}
	ctx.scale(xscale, 1)
	ctx.arc(this.el.pos.x * ixscale, this.el.pos.y, this.el.r, 0, 2 * Math.PI);
	ctx.stroke();
	ctx.restore();
	var newPos = {
		y: pos.y - 50, // go up
		x: pos.x //Move the tree left
	}
	if(this.el.children.length > 1)
		newPos.x -= (subWidth / 2)
	var tWidth = subWidth;
	for (var i = 0; i < this.el.children.length; i++) {
		var c = this.el.children[i]
		c.drawNode(newPos)
		ctx.moveTo(this.el.pos.x, this.el.pos.y - this.el.r);
		ctx.lineTo(newPos.x, newPos.y + c.el.r)
		ctx.stroke();
		var change = c.Width()
		var t = 0
		if(i + 1 < this.el.children.length) {
			var newT  = this.el.children[i+1].Width() / 2
			t = t < newT ? newT : t
		}
		if(i - 1 >= 0) {
			var newT  = this.el.children[i-1].Width() / 2
			t = t < newT ? newT : t
		}
		change += t
		newPos.x += change
	}
	ctx.lineWidth=1;
	ctx.strokeText(this.el.name,pos.x - (this.width/2) +  TMOD ,pos.y+4)
}

prevMouse = {x:0,y:0}
var clicked = false
var dragged = false
function mouseDrag(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	if(mousePos.x < 0 || mousePos.y < 0 || mousePos.y > canvas.height || mousePos.x > canvas.width) {
		clicked = false
	}
	if (clicked) {
		canvas.style.cursor = "auto"
		dragged = true;
		delta = {
			x: mousePos.x - prevMouse.x,
			y: mousePos.y - prevMouse.y
		}
		camera_pos.x += delta.x * 1
		camera_pos.y += delta.y * 1
		ctx.clearRect(0,0,canvas.width,canvas.height);
		draw();
	} else { //If not clicked, I've gotta findout how to draw mouse
		if(hover(mousePos)) {
			canvas.style.cursor = "pointer"
		} else {
			canvas.style.cursor = "auto"
		}
	}
	prevMouse.x = mousePos.x
	prevMouse.y = mousePos.y
	
}

function hover(pos) {
	for(var i = 0; i < nodes.length; i++) {
		var node = nodes[i]
		var xSq = (pos.x - node.pos.x)
		xSq *= xSq
		var ySq = (pos.y - node.pos.y)
		ySq *= ySq
		if(xSq + ySq < node.r * node.r)
			return node		
	}
	return null;
}

function mouseClick(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	var clickPos = {
		x: mousePos.x,// - camera_pos.x,
		y: mousePos.y// - camera_pos.y
	}
	for(var i = 0; i < nodes.length; i++) {
		var node = nodes[i]
		var xSq = (clickPos.x - node.pos.x)
		xSq *= xSq
		var ySq = (clickPos.y - node.pos.y)
		ySq *= ySq
		if(xSq + ySq < node.r * node.r)
			node.onclick()
		
	}
}

function clickDown(e) {
	clicked = true
	dragged = false
}

function clickUp(e) {
	clicked = false
	if(!dragged)
		mouseClick(e)
	dragged = false
}
function touchDrag(e) {
	e.clientX = e.touches[0].clientX
	e.clientY = e.touches[0].clientY
	mouseDrag(e)
	e.preventDefault()
}
function touchStart(e) {
	var rect = canvas.getBoundingClientRect();
	e.clientX = e.touches[0].clientX
	e.clientY = e.touches[0].clientY
	prevMouse.x = e.clientX - rect.left
	prevMouse.y = e.clientY - rect.top
	clickDown(e)
}

function begin() {
	canvas = document.getElementById("tree");	
	canvas.addEventListener('mousemove', mouseDrag, false);
	canvas.addEventListener('touchmove', touchDrag, false);
	canvas.addEventListener('mousedown', clickDown, false);
	canvas.addEventListener('touchstart', touchStart, false);
	canvas.addEventListener('mouseup', clickUp);
	canvas.addEventListener('touchend', clickUp);
	ctx = canvas.getContext("2d");
	ctx.font = "8pt Courier"
	var URL = "http://bloomgenetics.tech/api/v1";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = getData;
	xhttp.open("GET", URL + "/projects/" + projectID + "/treview", true);
	if (localStorage.getItem("Authorization")) {
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	}
	xhttp.send(null);
}

function draw() {
        var canvas = document.getElementById("tree");   
	if (trees.length == 0)
		return
	offset = {
		x: camera_pos.x + canvas.width / 2,
		y: camera_pos.y + canvas.height - 30
		}
	for (r of trees) {
		r.drawNode(offset)
		offset.x += 100
	}
}
window.onload = begin
</script>
