    <div class="row">
	<div class="col-sm-12">
      <div class="col-md-4">
        <div class="contentbox">
		  <h1 align="center">Project Name</h1>
          <p><img class = "logo" src="\static\media\flower.png" width="275" height="250" alt="Logo"></p>
		  <h2 align="left">Species: Pepper</h2>
		  <h2 align="left">Mail</h2>
		  <h2 align="left">Join</h2>
         
        </div>
      </div>
	  
      <div class="col-md-4">
        <div class="contentbox">
          <h1 align="center">Project Description</h1>
		  <p align="center"> Blah blah peppers blah wada wada</p>
        </div>
      </div>
	  
      <div class="col-md-4">
        <div class="contentbox">
          <h1 align="center">Welcome!</h1>
          <p align="center">...to Bloom. If you're new, try our <a href="#">About</a> page. Otherwise, you can check out <a href="#">Registration</a> or search our <a href="#">Project Profiles</a>. If you have any questions, please consult our <a href="#">FAQ</a> first.</p>
        </div>
      </div>