<script>
function messageServer() {
	var URL = "http://bloomgenetics.tech/api/v1/users";
	var USERNAME = document.getElementById("username").value;
	var PASSWORD = document.getElementById("password").value;
	var CONFIRMPASSWORD = document.getElementById("confirmpassword").value;
	var EMAIL = document.getElementById("email").value;
	var ADDRESS = document.getElementById("address").value;
	var GZONE = document.getElementById("gzone").value;
	var SEASONS = document.getElementById("seasons").value;
	var SPECIALTY = document.getElementById("specialty").value;
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = getData;
	xhttp.open("POST",URL, true);
	xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var DATA = "user="+USERNAME+"&password="+PASSWORD
	xhttp.send(DATA);
}

function getData() {
	if(this.readyState == 4 && this.status == 200) {
		var out = document.getElementById("error");
		var obj = JSON.parse(this.responseText);
		out.innerHTML =  obj.status;
		if (obj.code == 0) {
		//do a redirect
			localStorage.setItem("Authorization","Basic " + btoa(obj.data.id + ":" + obj.data.token));
			window.location = "http://bloomgenetics.tech/index.html";
		}
	}
}
</script>

<div class="container">
  <h2>Register</h2>
  <div id="result"></div>
    <div class="form-group">
      <label for="uname">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="confirmpwd">Confirm Password:</label>
      <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
    </div>
	<div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
	<div class="form-group">
      <label for="address">Address:</label>
      <input type="text" class="form-control" id="address" placeholder="Address">
    </div>
	<div class="form-group">
      <label for="gzone">Growzone:</label>
      <input type="text" class="form-control" id="gzone" placeholder="Growzone">
    </div>
	<div class="form-group">
      <label for="seasons">Seasons:</label>
      <input type="text" class="form-control" id="seasons" placeholder="Seasons">
    </div>
	<div class="form-group">
      <label for="specialty">Specialty:</label>
      <input type="text" class="form-control" id="specialty" placeholder="Specialty">
    </div>

    <button onclick="CreateUser()" class="btn btn-default">Submit</button>
</div>


<script>
function CreateUser(){
	var url = "http://bloomgenetics.tech/api/v1/users";
	if (document.getElementById("pass") == document.getElementById("cpass")){
		var data = "name="+document.getElementById("uname")+"&email="+document.getElementById("email")+"&pwd="+document.getElementById("pwd")
			"&location="+document.getElementById("address")+"&growzone="+document.getElementById("gzone")
			"&seasons="+document.getElementById("seasons")+"&specialty="+document.getElementById("specialty");
		xhttp.onreadystatechange = getData;
		xhttp.open("POST", url, true);
		xhttp.send(data);
	}
}
{"id":"test","email":"test@test.com","name":"ergys\n\n","location":"","growzone":""}
function getData(){
	if(this.readyState == 4 && this.status == 200) {
		var out = document.getElementById("result");
		var resp = JSON.parse(this.responseText);
		if(resp.code == 0) {
		} else {
			out.innerHTML = resp.status;
		}
	}
}
</script>