
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Search</h2>

      <div class="row col-sm-12 col-md-12 col-lg-12">
        <input type="text" class="form-control" name="search" placeholder="Search here">
        </div>
		
		<label class="checkbox-inline"><input type="checkbox" value="">Projects</label>
		<label class="checkbox-inline"><input type="checkbox" value="">People</label>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Search</button>
        </div>
      </div>

  



  </div>
<text id="result">Result</text>
  
  <script>
	  
	function Search(){
		var url = "http://bloomgenetics.tech/api/v1/auth";
		var uidData = "uid="+document.getElementById("terms")+"&name="+document.getElementById("terms");
		var pidData = "id="+document.getElementById("terms")+"&name="+document.getElementById("terms");
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = getData;
		xhttp.open("GET", url, true);
		xhttp.send(data);
	}


	function getData() {
		if(this.readyState == 4 && this.status == 200) {
			var out = document.getElementById("result");
			out.innerHTML = this.responseText;
		}
	}
  </script>