
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Search</h2>

      <div class="row col-sm-12 col-md-12 col-lg-12">
        <input type="text" class="form-control" name="search" placeholder="Search here">
        </div>
		
		<label class="checkbox-inline"><input type="checkbox" value="">Projects</label>
		<label class="checkbox-inline"><input type="checkbox" value="">People</label>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Search</button>
        </div>
      </div>

  



  </div>
