
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Search</h2>

      <div class="row col-sm-12 col-md-12 col-lg-12">
        <input type="text" class="form-control" name="search" placeholder="Search here">
        </div>
		
		<label class="checkbox-inline" id="b1"><input type="checkbox" value="">Projects</label>
		<label class="checkbox-inline" id="b2"><input type="checkbox" value="">People</label>

        <div class="col-sm-12">
          <button onclick="Search()" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Search</button>
        </div>
		
		
		<text id="result">Result</text>
		
      </div>
  </div>
  
  <script>
	  
	function Search(){
		if (document.getElementById("b1"))
			SearchProjects();
		if (document.getElementById("b2"))
			SearchUsers();
	}
	
	function SearchProjects(){
		var url = "http://bloomgenetics.tech/api/v1/projects";
		var uidData = "pid="+document.getElementById("terms")+"&name="+document.getElementById("terms");
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = getData;
		xhttp.open("GET", url, true);
		xhttp.send(data);
	}
	
	function SearchUsers(){
		var url = "http://bloomgenetics.tech/api/v1/users";
		var data = "id="+document.getElementById("terms")+"&name="+document.getElementById("terms");
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = getData;
		xhttp.open("GET", url, true);
		xhttp.send(data);
	}
	
	function getData() {
		if(this.readyState == 4 && this.status == 200) {
			var out = document.getElementById("result");
			out.innerHTML = this.responseText;
		}
	}
  </script>