<script>
var urlParams;
(window.onpopstate = function () {
    var match,
        pl     = /\+/g,  // Regex for replacing addition symbol with a space
        search = /([^&=]+)=?([^&]*)/g,
        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
        query  = window.location.search.substring(1);

    urlParams = {};
    while (match = search.exec(query))
       urlParams[decode(match[1])] = decode(match[2]);
})();
var projectID = urlParams["id"]

function getData() {
	if(this.readyState == 4 && this.status == 200) {
		errdiv = document.getElementById("error");	
		var resp = JSON.parse(this.responseText)
		if (resp.code != 0) {
			errdiv.innerHTML = "Unable to load treeview for Project " +
				projectID + " because:<br> " +
				resp.status;
		}
		if (resp.data == null)
			return
		for (r of resp.data) {
			trees[trees.length] = new Tree(r);
		}
		draw();
	}
}

var trees = [];
var nodes = [];
var canvas = null;
var ctx = null;
var camera_pos = {x:300,y:300}
function Tree(r, l = 0) {
	this.el = {
		pos: {x: 0, y: 0},
		id: r.data.id,
		r: 15,
		project: r.data.projectId,
		name: r.data.name,
		children: [],
		layer: l
	};
	nodes[nodes.length] = this.el
	this.el.onclick = clickNode
	this.drawNode = drawNode
	if (!r.children) 
		return;
	for( c of r.children) {
		this.el.children[this.el.children.length] = new Tree(c,l+1);
	}
}

function clickNode() {
	window.location = "/cross.html?id=" + this.id
}


function drawNode(pos) {
	ctx.beginPath();
	this.el.pos.x = pos.x;
	this.el.pos.y = pos.y;
	ctx.lineWidth=3;
	ctx.arc(this.el.pos.x, this.el.pos.y, this.el.r, 0,  2 * Math.PI);
	ctx.stroke();
	ctx.lineWidth=1;
	ctx.strokeText(this.el.id,pos.x - 4,pos.y+4)
	if (!this.el.children)
		return;
	var offset = { x: pos.x, y: pos.y }
	offset.x -= (this.el.children.length * 15);
	offset.y = pos.y - 50;
	for (c of this.el.children) {
		c.drawNode(offset);
		ctx.moveTo(this.el.pos.x,this.el.pos.y - this.el.r);
		ctx.lineWidth=1;
		ctx.lineTo(offset.x,offset.y + this.el.r);
		ctx.stroke();
		offset.x += 60;
	}
}

prevMouse = {x:0,y:0}
var clicked = false
var dragged = false
function mouseDrag(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	if (clicked) {
		dragged = true;
		delta = {
			x: mousePos.x - prevMouse.x,
			y: mousePos.y - prevMouse.y
		}
		camera_pos.x += delta.x * 0.7
		camera_pos.y += delta.y * 0.7
		ctx.clearRect(0,0,canvas.width,canvas.height);
		draw();
	}
	prevMouse.x = mousePos.x
	prevMouse.y = mousePos.y
	
}

function mouseClick(e) {
	var rect = canvas.getBoundingClientRect();
	var mousePos = {
		x: e.clientX - rect.left,
		y: e.clientY - rect.top
	}
	var clickPos = {
		x: mousePos.x,// - camera_pos.x,
		y: mousePos.y// - camera_pos.y
	}
	for(var i = 0; i < nodes.length; i++) {
		var node = nodes[i]
		var xSq = (clickPos.x - node.pos.x)
		xSq *= xSq
		var ySq = (clickPos.y - node.pos.y)
		ySq *= ySq
		if(xSq + ySq < node.r * node.r)
			node.onclick()
		
	}
}


function begin() {
	canvas = document.getElementById("tree");	
	canvas.addEventListener('mousemove', mouseDrag, false);
	canvas.addEventListener('mousedown', function(e) {clicked = true;dragged=false;}, false);
	canvas.addEventListener('mouseup', function(e) {
			clicked = false;
			if (!dragged)
				mouseClick(e)
			dragged=false;
		}, false);
	ctx = canvas.getContext("2d");
	var URL = "http://bloomgenetics.tech/api/v1";
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = getData;
	xhttp.open("GET", URL + "/projects/" + projectID + "/treview", true);
	if (localStorage.getItem("Authorization")) {
		xhttp.setRequestHeader("Authorization", localStorage["Authorization"]);
	}
	xhttp.send(null);
}

function draw() {
	if (trees.length == 0)
		return
	offset = {
		x: camera_pos.x,
		y: camera_pos.y
		}
	for (r of trees) {
		r.drawNode(offset)
		offset.x += 100
	}
}
window.onload = begin
</script>
<div id="error"></div>
<canvas id="tree" width="600" height="600" border="1" ></canvas>
